:root {
  --main-background-color: #6422aa;
  --main-background-accent-color: #371f7d;
  --main-second-background-color: #111418;

  --main-accent-color: #acd358;

  --main-icon-color: invert(77%) sepia(52%) saturate(448%) hue-rotate(31deg)
    brightness(95%) contrast(88%);
}
